/.venv
/.vscode
/db.sqlite3
django_boilerplate/__pycache__
app_name/__pycache__
app_name/migrations/__pycache__
app_name/migrations/
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64