{% extends 'base_generic.html' %}

{% load static %}
{% load widget_tweaks %}
{% block additional_css %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<body class="text-center">
  {% if form.errors %}
  <div class="container">
    <div class="alert alert-danger col-12" role="alert">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  
    {% endif %}
  
  
  
  
  
    <div class="">
      <form class="form-signin" method="post" action="{% url 'login' %}">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
          height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% csrf_token %}
  
  
        <label for="{{ form.username.id_for_label }}" class="sr-only">Email address</label>
        {{ form.username|add_class:"form-control" }}
        
        <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
        {{ form.password|add_class:"form-control" }}
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  
  
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </form>
    </div>
  </div>



</body>
{% endblock %}